asn1crypto==0.24.0
certifi==2020.12.5
chardet==4.0.0
cryptography==2.6.1
dropbox==11.2.0
entrypoints==0.3
idna==2.10
keyring==17.1.1
keyrings.alt==3.1.1
playsound==1.2.2
ply==3.11
pycrypto==2.6.1
pygame==2.0.1
PyGObject==3.30.4
python-apt==1.8.4.3
pyxdg==0.25
PyYAML==5.4.1
requests==2.25.1
SecretStorage==2.3.1
sentry-sdk==1.0.0
six==1.15.0
ssh-import-id==5.7
stone==3.2.1
urllib3==1.26.3